
@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
    background:#231F20;
    text-align:center;
}

h1 {
    color:#FFF;
    font-family: 'Oswald', serif;
    font-weight:700;
    position:relative;
    margin:30px auto;
    text-transform:uppercase;
    width:550px;
}

h1::before, h1::after{
    background:#4A90E2;
    content: '';
    height: 30px;
    width: 25px;
    position: absolute;
    display: block;
}

h1::before {
    left: 0;
    top: 9px;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
}

h1::after {
    right: 0;
    top: 9px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
}