*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 767px)
{
    header {
        background-image: url("images/background_header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80px;
    }

    footer {
        height: 50px;
        background-color: #609a60;
    }

    h1 {
        width: 300px;
        float: left;
        font-size: 60px;
        margin: 0 0 0 20px;
    }

    ul li {
        list-style-type: none;
        float: left;
        margin: 0 20px 0 20px;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 23px;
    }

    a:hover {
        font-weight: bold;
        font-size: 21.6px;
        text-decoration: underline;
    }

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .menu {
        display: none;
    }

    .container {
        width: 325px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        border: 1px dotted black;
        margin: 25px;
    }

    .informatie_container, .informatie_container2, .informatie_container3 {
        height: 450px;
        width: 300px;
        background-color: #b1eab1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        margin: 10px 0;
    }

    img {
        margin: 30px 25px 50px 25px;
        width: 325px;
        border: 2px solid black;
    }

    .img_container {
        border-radius: 20%;
        width: 275px;
        height: 200px;
        margin-bottom: 20px;
    }

    .txt_info{
        width: 300px;
        height: 150px;
        text-align: center;
        font-size: 16px;
    }

    .txt_info h1{
        margin: 0 0 10px 0;
        text-align: center;
        font-size: 28px;
    }

    .no_underline:hover{
        text-decoration: none;
        font-weight: normal;
    }

    .paarden_ras {
        width: 325px;
        height: 500px;
        background-color: #b1eab1;
        margin: 20px 25px;
        border: #609a60 2px solid;
    }

    .paarden_ras img{
        width: 275px;
        height: 250px;
        border-radius: 20%;
        margin: 10px 25px;
    }

    .paarden_ras p{
        text-align: center;
    }

    .paarden_ras h1 {
        margin: 15px 0;
        height: 50px;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav button{
        background-color: #b1eab1;
        width: 32px;
        height: 27px;
        float: right;
        margin: 25px;
    }

    .menu_links a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color:#609a60;
    }

    .container_benodigdheden{
        width: 325px;
        display: flex;
        flex-direction: column;
        align-content: center;
        border: 2px dotted black;
        margin: 25px;
        text-align: center;
        padding-bottom: 5px;
    }

    .form_container{
        width: 325px;
        height: auto;
        border: #609a60 3px dashed;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 25px;
        text-align: center;
    }

    label{
        margin: 5px;
        font-size: 19px;
    }

    button{
        width: 100px;
        border: #609a60 2px solid;
        background-color: #b1eab1;
    }

    input{
        border: #b1eab1 2px solid;
    }
}

@media (min-width: 768px) {

    .topnav{
        display:none;
    }

    .menu_links{
        display: none;
    }

    body{
        font-family: Arial, serif;
    }

    header {
        background-image: url("images/background_header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 80px;
        max-width: 100%;
    }

    main {
        max-width: 100%;
        heigth: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    footer {
        height: 50px;
        width: 100%;
        background-color: #609a60;
    }

    h1 {
        width: 300px;
        float: left;
        margin: 20px 0 0 50px;
    }

    .menu {
        float: right;
        margin-top: 25px;
        height: 40px;
    }

    ul li {
        list-style-type: none;
        float: left;
        margin: 0 20px 0 20px;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 23px;
    }

    a:hover {
        font-weight: bold;
        font-size: 21.6px;
        text-decoration: underline;
    }

    img {
        margin: 30px 0 70px 0;
        width: 750px;
        border: 2px solid black;
    }

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        border: 1px dotted black;
    }

    .informatie_container, .informatie_container2, .informatie_container3 {
        height: 550px;
        width: 500px;
        background-color: #b1eab1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        margin: 5px;
    }

    .img_container {
        border-radius: 20%;
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }

    .txt_info{
        width: 300px;
        height: 150px;
        text-align: center;
    }

    .txt_info h1{
        margin: 0 0 10px 0;
        text-align: center;
    }

    .no_underline:hover{
        text-decoration: none;
        font-weight: normal;
    }

    .main{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .paarden_ras{
        width: 450px;
        height: 500px;
        text-align: center;
        background-color: #b1eab1;
        margin: 20px 10px;
        border: #609a60 2px solid;
    }

    .paarden_ras img{
        width: 350px;
        height: 325px;
        border-radius: 20%;
        margin: 10px 25px;
    }

    .paarden_ras p{
        text-align: center;
    }

    .paarden_ras h1{
        margin: 15px 75px 0 75px;
        height: 50px;
        width:300px;
    }

    .container_benodigdheden{
        width: 750px;
        display: flex;
        flex-direction: row;
        border: 2px dotted black;
        margin: 50px;
        text-align: center;
        padding: 0 10px 5px 20px;
    }

    .container_benodigdheden h2, .container_benodigdheden p{
        margin: 25px;
    }

    .form_container{
        width: 500px;
        height: auto;
        border: #609a60 3px dashed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 25px;
        text-align: center;
        padding-left: 25px;
    }

    label{
        margin: 5px;
        font-size: 23px;
    }

    table{
        margin: 0 20px;
    }

    button{
        width: 150px;
        height: 25px;
        font-size: 19px;
        border: #609a60 2px solid;
        background-color: #b1eab1;
    }

    input{
        border: #b1eab1 2px solid;
        height: 30px;
        width: 180px;
        margin: 5px;
    }

    .opvul_container{
        height: 225px;
        width: 1000px;
    }
}
