@import "constants.scss";

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.grid-item {
  position: relative;
  margin: 20px;
  font-size: 30px;
  text-align: center;
  width: 25%;
  height: 25%;
  background-color: #3b5998;
  border-radius: 5%;
}

.img-grid {
  border-radius: 5%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid-item:hover .img-grid {
  opacity: 0;
}

.grid-item:hover .middle {
  opacity: 1;
}

.button{
  color: white;
  font-size: 16px;
  padding: 5px 5px;
}